{% extends 'todoliste/base.html' %}

{% block content %}


  <div class="row">
<div class="col text-right">
  
    
<a href={% url 'index' %} class="btn btn-primary my-2">Zurück</a>
</div>
</div>
<div class="row">
  <div class="col">
  
<table class="table">
  <tr>
    <th colspan="3">Todos</th>
  </tr>

{% for todo in todos %}
  <tr>
    <td>{{ todo.name }}</td>
    <td class="text-right"><input class="form-check-input" type="checkbox"{% if todo.erledigt %} checked{% endif %} onchange="window.location='{% url 'todo_offen' todo.id %}'"></td>
    <td class="text-right"><a class="btn btn-danger" href="{% url 'sicherheitsabfrage' todo.id %}">Löschen</a></td>
  </tr>
{% endfor %}


</table>

 </div>
</div>
<div class="row">
  <div class="col">

<form action="{% url 'sicherheitsabfrage_alle' %}" method="POST">
<div class="form-group">
  <div class="row">
  <div class="col text-right">
  
  <input class="btn btn-danger" type="submit" value="Alle löschen">
  {% csrf_token %}
  </div>
  </div>
  </div>
</form>
</div>
</div>


{% endblock content %}