{% extends 'todoliste/base.html' %}


{% block content %}
<div class="row">
<div class="col text-right">

<a href={% url 'erledigt' %} class="btn btn-primary my-2">Erledigte Todos</a>
</div>
</div>
<div class="row">
  <div class="col">
  
<table class="table">
  <tr>
    <th colspan="2">Todos</th>
  </tr>

{% for todo in todos %}
  <tr>
    <td>{{ todo.name }}</td>
    <td class="text-right"><input class="form-check-input" type="checkbox"{% if todo.erledigt %} checked{% endif %} onchange="window.location='{% url 'todo_erledigen' todo.id %}'"></td>
  </tr>
{% endfor %}


</table>
  </div>
</div>
<div class="row">
  <div class="col">
  
<form action="{% url 'neu' %}" method="POST">
<div class="form-group">
  <div class="row">
    <div class="col-10">
  <input class="form-control" type="text" name="name">
    </div>
    <div class="col-2">
  <input class="form-control btn btn-success" type="submit" value="Hinzufügen">
    </div>
  </div>
</div>
  {% csrf_token %}
</form>
   </div>
</div>

{% endblock content %}

