{% extends 'todoliste/base.html' %}
{% block content %}
<div class="row">
  Bist du dir sicher, dass du "{{todo.name}}" löschen möchtest?
</div>
<div class="row mt-3">
   <a class="btn btn-secondary mr-2" href="{% url 'erledigt' %}">Cancel</a>
   <a class="btn btn-danger" href="{% url 'loeschen' todo.id %}">Löschen</a> 
</div>
  
{% endblock content %}

