{% extends 'todoliste/base.html' %}
{% block content %}
<div class="row">
   Bist du dir sicher, dass du <strong>alle erledigten Todos</strong> löschen möchtest?

</div>
<div class="row mt-3">
   <a class="btn btn-secondary mr-2" href="{% url 'erledigt' %}">Cancel</a>
   <a class="btn btn-danger" href="{% url 'alle_loeschen' %}">Alle löschen</a> 
</div>

{% endblock content %}